:root{
	/*COLORES*/
	--html__color:black;
	--body__color:brown;
	--table__color:red;
	--table__td__color:orange;
	/*BORDERS*/
	--html__border: 3px solid var(--html__color);
	--body__border: 3px solid var(--body__color);
	--table__border:3px solid var(--table__color);
	--table__td__border: 3px solid var(--table__td__color);
	/*ALTURAS*/
	--html__height:98%;
	--body__height:98%;
	--table__height:98%;
	/*ANCHURAS*/
	--html__width:98%;
	--body__width:98%;
	--table__width:98%;
}

html{
	height:var(--html__height);
	width:var(--html__width);
	border:var(--html__border);
}
body{
	height:var(--body__height);
	width:var(--body__width);
	border:var(--body__border);
	/*overflow-y:scroll;*/
}

table{
	height:var(--table__height);
	width:var(--table__width);
	border:var(--table__border);	
}

td{
	border:var(--table__td__border);
vertical-align: top;
}

td:nth-child(0){
	width:100%;
	margin:auto;
	text-align:center;
	vertical-align:top;
	}
td:nth-child(1){
	width:20%;
	vertical-align:top;
	}
td:nth-child(2){
	width:80%;
	vertical-align:top;
	}
td:nth-child(3){
	text-align:center;
	width:100%;
	vertical-align:top;
	}

td.td_uno,td.td_cuatro{height:4em;}

img{
	width:5em;
	height:4em;
}

p{
	display:grid;
	place-items:center;
}

div.titulo{
	text-align:center;
}

div.Mi__Presentacion{
	font-size:12px;
	text-align:center;
	margin: 2px 2px 2px 2px;
}

div.Mis__Productos{
	width:98%;
	height:98%;
	border: 3px solid yellow;
	overflow:hidden;
}

.div_productos{
	/*width:98%;*/
	height:98%;
	display:grid;
	place-items:center;
	border: 2px solid black;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}
.productos{
	border: 3px solid grey;
	position:relative;
	display:grid;
	place-items:center;
	grid-template: auto / auto auto auto;
	width:98%;
	height:80%;
	padding: 0em 0em 0em 0em;
/*	margin: 1em 1em 1em 1em;*/
	
	/*float:left;*/
}

.tag{
	width:8em;
	height:8em;
	border: 2px solid black;
	margin: 0em 0em 0em 0em;
	padding: 1em 1em 1em 1em;
}

ul{
	border: 0px solid black;
}
li{
	border: 1px solid black;
}

ul,li{
	cursor:pointer;
	list-style-type:none;
	/*border: 1px solid black;*/1
	padding-left: 1em;
/*	transition-duration:0.1s;*/
}
.menu_principal{
	width: 10em;
}
ul.menu{width:19m;}
li:hover{background-color:grey;}

/*TITULOS DE LOS MENUS CENTRALES*/
p{
	border: 1px solid black;
	margin: 0em 0em 0em 0em;
	padding: 1em 1em 1em 1em;
	font-size:20px;
	font-weight:bold;
	margin: -2em 1em -2em 1em;
}
